
body,
html {
    margin: 0 auto;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-size: 12px;
    line-height: 22px;
    color: $text;
    min-width: 375px;
  }
  
  img {
    max-width: 100%;
    display: block;
  }
  
  * {
    box-sizing: border-box;
    background-repeat: no-repeat;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .container {
    min-width: 375px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
  }

  label.error {
    background-color: #ffffff;
    border: 1px solid red;
    color: red;
  }