.button {
    width: 145px;
    height: 45px;
    color: #ffffff;
    background-color: $accent;
    text-align: center;
    display: block;
    text-transform: uppercase;
    padding-top: 12px;
    padding-bottom: 10px;
    border: none;

    &--nav{
        margin-left: auto;
        display: none;
    }

    &--disabled {
        pointer-events: none;
        cursor: not-allowed;
        text-decoration: none;
        background:  #EAECEF;;
        color:  #A4AAB3;
    }
}