.form {

    text-align: center;

 


    &__form {
        position: relative;
        height: 90vh;
        background-color: $base-bg;
        @media (min-width: $desktop) {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
    }

    &__preview {
        background-image: url('../img/illustration.svg');
        background-position: 50% 70%;
        padding-top: 36px;
        padding-left: 35px;
        padding-right: 35px;
        display: flex;
        flex-direction: column;
        height: 90%;
        background-color: #ffffff;

        @media (min-width: $desktop) {
            padding-left: 58px;
            padding-right: 48px;
            padding-top: 44px;
            height: auto;
        }
        
    }

    &__preview-title {
        color: $accent;
        font-weight: bold;
        font-size: 24px;
        line-height: 38px;

    }

    &__preview-text {
        width: 307px;
        margin: 0 auto;
        font-size: 16px;
        line-height: 24px;
        color: #909AAB;
        font-style: normal;
        
    }

    &__title {
        text-align: center;
        font-size: 18px;
        line-height: 38px;
        color: $text;
        font-weight: bold;
        margin: 0;
        margin-bottom: 34px;

        @media (min-width: $desktop) {
            text-align: left;
        }
    }

    &__nav {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-end;
        margin-top: 43px;
        padding-left: 35px;
        padding-right: 35px;
        
        margin-top: auto;

        @media (min-width: $desktop) {
            padding-bottom: 53px;
            flex: 1;
        }
    }

    &__nav-dots  {
        background: rgba(44, 120, 246, 0.6);
        width: 8px;
        height: 8px;
        border-radius: 30px;
        display: block;
        margin-left: 7px;

        @media (min-width: $desktop) {
            display: none;
          }

        &--active {
            width: 24px;
            background: $accent;

        }

    }

    &__personal-info {
        padding-top: 20px;
        padding-left: 35px;
        padding-right: 35px;
        display: flex;
        flex-direction: column;
        height: 90%;
      

        @media (min-width: $desktop) {
            padding-left: 93px;
            height: auto;
        }
        
    }

    &__radio-feild {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;
        max-width: 375px;
        margin: 0 auto;
  
        margin-bottom: 64px;

        @media (min-width: $desktop) {
           margin-left: 0;
           padding-left: 0;
           max-width: 500px;
        }
    }

    &__radio {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 112px;
        height: 104px;
        background-color: inherit;
        border: 1px solid $accent;
        font-size: 12px;
        line-height: 14px;
        border-radius: 6px;
        padding-bottom: 18px;

        @media (min-width: $desktop) {
            width: 200px;
            height: 142px;
         }
    }

    &__radio-label {
        position: relative;
        margin-right: 35px;

        &:last-child {
            margin-right: 0;
        }

        svg {
            position: absolute;
            top: 50%;
            margin-top: -15px;
            left: 50%;
            margin-left: -15px;

            @media (min-width: $desktop) {
                width: 40px;
                height: 40px;
                margin-top: -25px;
                margin-left: -20px;
             }
        }
    }

    &__radio-input:checked + &__radio,
    &__radio-input:focus + &__radio{
        background-color: $accent;
        box-shadow: 0px 20px 54px rgba(0, 83, 221, 0.4);
        color: #ffffff;
        font-weight: bold;
    }

    &__radio-input:checked ~ svg path,
    &__radio-input:focus ~ svg path  {
       fill: #ffffff;
    }

    &__input-group {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        label {
            font-size: 10px;
            line-height: 22px;
            text-align: left;
            margin-bottom: 5px;
            position: relative;

            span {
                position: absolute;
                top: -2px;
                right: -5px;
                color: #B7B7B7;
            }
        }

        a {
            margin-left: auto;
            text-decoration: underline;
            font-size: 14px;
            position: relative;

            @media (min-width: $desktop) {
                margin-left: 80px;
             }

            &::before {
                content: "";
                position: absolute;

                left: -50px;
                top: -5px;

                width: 39px;
                height: 39px;
                border-radius: 50%;
                background-color: #ffffff;
                background-image: url('../img/tooth.svg');
                background-repeat: no-repeat;
                background-position: 50% 50%;
            }
        }
    }

    &__input  {
        width: 100%;
        border: none;
        padding-bottom: 8px;
        border-bottom: 1px solid $base-dark;
        margin-bottom: 36px;
        background-color: inherit;
        outline: none;
        color: $text;
        font-size: 16px;
        line-height: 22px;

        &::placeholder{
            font-size: 16px;
            line-height: 22px;
            color:  #C4C4C4;
        }
    }

    &__general-info {
        padding-top: 20px;
        padding-left: 35px;
        padding-right: 35px;
        display: flex;
        flex-direction: column;
        height: 90%;
        display: none;

        @media (min-width: $desktop) {
           height: auto;
           padding-left: 93px;
           flex: 1;
         }
       
    }

    &__file-group {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 35px;
        max-width: 375px;
    }   

    &__file-description {
        width: 153px;
        
        p {
            padding-top: 10px;
            margin: 0;
            margin-bottom: 20px;
            text-align: left;
            font-size: 11px;
            line-height: 18px;  
        }
    }

    &__file {
        width: 126px;
        height: 126px;
        padding-bottom: 30px;
        background-image: url('../img/Vector.svg');
        background-repeat: no-repeat;
        background-position: 50% 35%;
        background-color: #ffffff;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        text-transform: uppercase;
        font-size: 9px;
        line-height: 19px;
        color: #B8D2FC;
        text-transform: uppercase;

    }
}

